 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .title-h1 {
        margin-bottom: 15px;
        font-size: 29px;
    }
    .line {
        margin-bottom: 15px;
        height: 40px;
    }
    /* header start */
    header {
        padding: 5px 0;
    }
    .logo {
        font-size: 24px;
    }
    /* header end */
    /* slider start */
    .slider-content {
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .slider-content h1 {
        font-size: 32px;
    }
    .slider-content p {
        line-height: 27px;
        padding-right: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    /* slider end */
    /* service start  */
    .single-service {
        padding: 0px 15px 20px 15px;
    }
    .service-item {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .service-icon {
        margin-bottom: 15px;
    }
    .single-servie-content p {
        margin-bottom: 20px;
    }
    /* service end */
    /* about-us start */
    .about-us-img{
        margin-top: 40px;
    }
    .about-us-content {
        padding-left: 0;
        margin-top: 0;
    }
    /* about-us end */
    
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    header {
        padding: 5px 0;
    }
    /* slider start */
    .slider-content {
        margin-top: 70px;
        margin-bottom: 100px;
    }
    .slider-content h1 {
        font-size: 48px;
    }
    .slider-content p {
        line-height: 27px;
        padding-right: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    /* slider end */
    /* service start  */
    .service-item {
        margin-top: 50px;
    }
    /* service end  */
    /* about-us start */
    .about-us-content {
        padding-left: 0;
        margin-top: 0px;
    }
    .about-us-img{
        margin-top: 40px;
    }
    /* about-us end */
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* slider start */
    .slider-content {
        margin-top: 70px;
        margin-bottom: 100px;
    }
    .slider-content h1 {
        font-size: 48px;
    }
    .slider-content p {
        line-height: 27px;
        padding-right: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    /* slider end */
    /* service start  */
    .service-item {
        margin-top: 50px;
    }
    /* service end  */
    /* about-us start */
    .about-us-content {
        padding-left: 0;
        margin-top: 50px;
    }
    .about-us-img{
        text-align: center;
    }
    /* about-us end */
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

 /* X-Large devices (xl desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

 /* XX-large devices (xxl desktops, 1400px and up) */
@media (min-width: 1400px) {}
