/* common css */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #8e8e8e;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
    color: #333333;
}
p{
    font-family: 'Roboto', sans-serif;
    color: #8e8e8e;
}
/* header start */
header{
    padding: 15px;
}
.logo{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
.logo::after {
	content: "";
	display: block;
	position: absolute;
	width: 1px;
	height: 30px;
	background-color: #333333;
	top: -28px;
	left: 0;
	right: 0;
	margin: auto;
}
.main-menu ul li {
    margin: 0 5px;
}
.main-menu ul li a{
    color: #8e8e8e !important;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.main-menu ul li:hover a{
    color: #333333 !important;
}

/* navbar search start   */
.search-btn{
    width: 100%;
}
.search-btn:focus{
    box-shadow: none;
}
.drpdwn-search input{
    border-radius: 0;
}
.drpdwn-search input:focus{
    box-shadow: none;
}
.drpdwn-search[data-bs-popper] {
	top: 50px;
	left: -350px;
	margin-top: 0.125rem;
}
.drpdwn-search{
	min-width: 400px;
	padding: 0;
    border: none;
}
/* navbar search end   */
/* header end */

/* slider start */
.slider{
    /* padding: 20px 0; */
    background-image: url(../img/slider-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider-content {
    margin-top: 210px;
    margin-bottom: 220px;
}
.slider-content h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.slider-content p{
    line-height: 30px;
    color: white;
    padding-right: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn-custom {
    display: inline-block;
    padding: 15px 30px ;
    background-color: #fff;
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}
.btn-custom:hover{
    letter-spacing: 1px;
    color: #333333;
}
.btn-custom i{
    padding-left: 20px;
}
.prev-custom , .next-custom{
    
    align-items: flex-end;
    justify-content: flex-start;
    width: 0;
    color: #8e8e8e;
    opacity: 1 !important;
}
.prev-custom:hover{
    color: #333333;
}
.next-custom:hover{
    color: #333333;
}
.prev-custom span , .next-custom span{
    /* background-image: none; */
    font-family: 'Roboto', sans-serif;
}
.prev-custom{
}
.prev-custom span::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 14px;
	background-color: #8e8e8e;
	bottom: 13px;
	left: 50px;
}
.prev-custom span::before {
	content: "";
	position: absolute;
	width: 2px;
	height: 16px;
	background-color: #333333;
	bottom: 12px;
	left: 59px;
}
.next-custom{
    left: 80px;
}
.next-custom span::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 14px;
	background-color: #8e8e8e;
	bottom: 13px;
	left: -12px;
}
/* slider end */
/* service start */
.service{}
.section-title{
}
.line{
    margin: auto;
    margin-bottom: 25px;
    height: 50px;
    width: 2px;
    background-color: #333333;
}

.title-h1{
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.title-p{
    line-height: 30px;
}
.service-item{
    margin-top: 110px;
    margin-bottom: 70px;
}
.single-service{
    margin-bottom: 30px;
    padding: 0 17px 40px 17px;
    border: 1px solid #cccccc;
    transition: .3s;
}
.service-icon{
    margin: 0 auto;
    margin-top: -22px;
    margin-bottom: 40px;
    width: 69px;
    background-color: #fff;
    /* border: 1px solid; */
}
.service-icon i{
    /* margin-top: -40px; */
    font-size: 60px;
    color: #8e8e8e;
    transition: .3s;
}
.single-servie-content{}
.single-servie-content h3{
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    position: relative;
}
.single-servie-content h3::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #cccccc;
    bottom: -15px;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
}
.single-servie-content p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #8e8e8e;

}
.single-servie-content a{
    font-size: 16px;
    color: #8e8e8e;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}
.single-servie-content a i{
    margin-left: 20px;
}
.single-service:hover{
    border-color: #333333;
}
.single-service:hover i{
    color: #333333;
}
.single-service:hover a{
    color: #333333;
}
/* service end */
/* about-us start */
.about-us-content{
    padding-left: 70px;
}
.about-us-content .btn-custom{
    border: 1px solid #333333;
}
.about-us-content p{
    line-height: 27px;
}
/* about-us end */